* {
    margin: 0 auto;
    padding: 0px;

    transition: all .3s;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #606c71;

    background-image: url("https://i2.100024.xyz/2023/07/11/r67hkb.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
.head {
    width: 100%;
    padding: 5rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: #fff;
    text-align: center;
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
}
.head > p {
    width: 100%;
    text-align: center;
}
.title {
    font-size: 3.25rem;
    margin-bottom: 0.8rem;
    --animate-delay: 1.2s;
}
.content {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    opacity: 0.7;
    --animate-delay: 1.4s;
}
a {
    color: #1e6bb8;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}
.btn {
    display: inline-block;
    margin-bottom: 1rem;
    color: rgba(255,255,255,0.7);
    background-color: rgba(255,255,255,0.08);
    border-color: rgba(255,255,255,0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    padding: 0.75rem 1rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}
.btn:hover {
    color: rgba(255,255,255,0.8);
    text-decoration: none;
    background-color: rgba(255,255,255,0.2);
    border-color: rgba(255,255,255,0.3)
}

.card {
    background-color: #fff;
    margin: 5rem 2rem;
    padding: 5rem 2rem;
    border-radius: 4px;
    
    --animation-delay: 1.8s;
}

.card > p {
    font-size: 1.75rem;
}